@keyframes bounce {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(0px);
    }
}

html {
    --theme_bg: lightgray;
    --theme_fg: #444;
    animation: bounce 1s infinite alternate;
}

html,
button,
select {
    font-family: 'Comic Sans', 'Comic Sans MS', 'Comic Sans MS', cursive;
}

*.interact,
button,
select {
    color: #333;
    background-color: #eee;
    border: 2px outset #aaa;
}

*.interact:hover,
button:hover,
select:hover,
*.interact:disabled,
button:disabled,
select:disabled {
    background-color: #ddd;
}

*.interact:active,
button:active,
select:active,
*.interact:disabled:hover,
button:disabled:hover,
select:disabled:hover {
    background-color: #ccc;
}

/* Top-Nav */

ul.nav-bar {
    border-bottom: 2px solid #ccc;
}

ul.nav-bar li :is(*.interact, a, button, select) {
    color: #333;
    background-color: #f8f8f8;
}

ul.nav-bar li :is(*.interact, a, button, select):hover {
    color: dodgerblue;
    border-bottom: 2px solid dodgerblue;
    background-color: #f4f4f4;
}

ul.nav-bar li :is(*.interact, a, button, select):active {
    background-color: #eee;
}

ul.nav-bar li ul {
    background-color: #fafafa;
}

/* Collections */

.card {
    border: 3px outset #888;
    background-color: #eee;
}

.card:hover {
    background-color: #e4e4e4;
}
