html {
    --theme_bg: #303038;
    --theme_fg: #f4f4f4;
}

html,
button,
select {
    font-family: "Noto Sans", Roboto, Helvetica, Arial, sans-serif;
}

img {
    filter: brightness(94%) grayscale(10%);
}

a:link {
    color: royalblue;
}

a:visited {
    color: mediumorchid;
}

a:active {
    color: salmon;
}

*.interact,
button,
select {
    color: #f4f4f4;
    background-color: #444;
    border: 2px inset #aaa;
}

*.interact:hover,
button:hover,
select:hover,
*.interact:disabled,
button:disabled,
select:disabled {
    background-color: #555;
}

*.interact:active,
button:active,
select:active,
*.interact:disabled:hover,
button:disabled:hover,
select:disabled:hover {
    background-color: #666;
}

/* Top-Nav */

ul.nav-bar {
    border-bottom: 2px solid #666;
}

ul.nav-bar li :is(*.interact, a, button, select) {
    color: #fff;
    background-color: #444;
}

ul.nav-bar li :is(*.interact, a, button, select):hover {
    color: white;
    border-bottom: 2px solid dodgerblue;
    background-color: #555;
}

ul.nav-bar li :is(*.interact, a, button, select):active {
    background-color: #666;
}

ul.nav-bar li ul {
    background-color: #333;
}

/* Collections */

.card {
    border: 3px inset #888;
    background-color: #444;
}

.card:hover {
    background-color: #4c4c4c;
}