html {
    --theme_bg: #303038;
    --theme_fg: #f4f4f4;
}

html,
button,
select {
    font-family: "Noto Sans", Roboto, Helvetica, Arial, sans-serif;
}

img {
    filter: brightness(94%) grayscale(10%);
}

a:link {
    color: royalblue;
}

a:visited {
    color: mediumorchid;
}

a:active {
    color: salmon;
}

.interact,
button,
select {
    color: #f4f4f4;
    background-color: #444;
    border: 2px inset #aaa;
}

:is(.interact, button, select):is(
        :hover, :focus-within, :disabled) {
    background-color: #555;
}

:is(.interact, button, select):is(
        :active, :disabled:hover, :disabled:focus-within) {
    background-color: #666;
}

/* Top-Nav */

ul.nav-bar {
    border-bottom: 2px solid #666;
}

ul.nav-bar li :is(
        a, .interact, button, select):is(
        :hover, :focus-within) {
    color: #fff;
    background-color: #444;
}

ul.nav-bar li :is(
        a, .interact, button, select):is(
        :hover, :focus-within) {
    color: white;
    border-bottom: 2px solid dodgerblue;
    background-color: #555;
}

ul.nav-bar li :is(.interact, a, button, select):active {
    background-color: #666;
}

ul.nav-bar li ul {
    background-color: #393943;
    border-color: #666;
}

/* Collections */

.card {
    border: 3px inset #888;
    background-color: #444;
}

.card:hover {
    background-color: #4c4c4c;
}