html {
    --theme_bg: white;
    --theme_fg: black;
}

html,
button,
select {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.interact,
button,
select {
    color: #333;
    background-color: #eee;
    border: 2px outset #aaa;
}

:is(.interact, button, select):is(
        :hover, :focus-within, :disabled) {
    background-color: #ddd;
}

:is(.interact, button, select):is(
        :active, :disabled:hover, :disabled:focus-within) {
    background-color: #ccc;
}

/* Top-Nav */

ul.nav-bar {
    border-bottom: 2px solid #ccc;
}

ul.nav-bar li :is(a, .interact, button, select) {
    color: #333;
    background-color: #f8f8f8;
}

ul.nav-bar li :is(
        a, .interact, button, select):is(
        :hover, :focus-within) {
    color: dodgerblue;
    border-bottom: 2px solid dodgerblue;
    background-color: #f4f4f4;
}

ul.nav-bar li :is(a, .interact, button, select):active {
    background-color: #eee;
}

ul.nav-bar li ul {
    border-color: #ccc;
}

/* Collections */

.card {
    border: 3px outset #888;
    background-color: #eee;
}

.card:hover {
    background-color: #e4e4e4;
}