html {
    background-color: white;
    color: black;
}

html,
button,
select {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

*.interact,
button,
select {
    color: #333;
    background-color: #eee;
    border: 2px outset #aaa;
}

*.interact:hover,
button:hover,
select:hover {
    background-color: #ddd;
}

*.interact:active,
button:active,
select:active {
    background-color: #ccc;
}

/* Top-Nav */

ul.nav-bar {
    border-bottom: 2px solid #ccc;
}

ul.nav-bar li :is(a, *.interact, button, select) {
    color: #333;
    background-color: #f8f8f8;
}

ul.nav-bar li :is(a, *.interact, button, select):hover {
    color: dodgerblue;
    border-bottom: 2px solid dodgerblue;
    background-color: #f4f4f4;
}

ul.nav-bar li :is(a, *.interact, button, select):active {
    background-color: #eee;
}

/* Collections */

.card {
    border: 3px outset #888;
    background-color: #eee;
}

.card:hover {
    background-color: #e4e4e4;
}