@keyframes spin {
    0% {
        rotate: 0deg;
        translate: -10em;
    }

    50% {
        rotate: 360deg;
        translate: 10em;
    }

    100% {
        rotate: 0deg;
        translate: -10em;
    }
}

html {
    --theme_bg: maroon;
    --theme_fg: #aaa;
    animation: spin 1s linear infinite;
}

html,
button,
select {
    font-family: Papyrus, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

img {
    filter: brightness(90%) sepia(60%) saturate(200%) hue-rotate(-30deg);
}

.interact,
button,
select {
    color: #aaa;
    background-color: #555;
    border: 2px outset #aaa;
}

:is(.interact, button, select):is(
        :hover, :focus-within, :disabled) {
    background-color: #666;
}

:is(.interact, button, select):is(
        :active, :disabled:hover, :disabled:focus-within) {
    background-color: #777;
}

/* Top-Nav */

ul.nav-bar {
    border-bottom: 2px solid #999;
}

ul.nav-bar li :is(a, .interact, button, select) {
    color: #aaa;
    background-color: #555;
}

ul.nav-bar li :is(
        a, .interact, button, select):is(
        :hover, :focus-within) {
    color: crimson;
    border-bottom: 2px solid crimson;
    background-color: #666;
}

ul.nav-bar li :is(a, .interact, button, select):active {
    background-color: #777;
}

ul.nav-bar li ul {
    background-color: #600;
    border-color: #999;
}

/* Containers */

.card {
    border: 3px outset #aaa;
    background-color: #555;
}

.card:hover {
    background-color: #666;
}