html {
    background-color: var(--theme_bg);
    color: var(--theme_fg);
    transition: background-color 0.3s, color 0.3s, font-family 0.3s;
    font-size: max(12pt, 1.6vh);
}

img {
    max-width: 96%;
    min-height: 200px;
    max-height: 80vh;
}

.interact, button, select {
    padding: 0.6em 0.8em;
    border-radius: 0.4em;
    margin: 0 0.2em;
    text-decoration: none;
    transition: transform 0.3s, background-color 0.3s;
}

:is(.interact, button, select):is(:hover, :focus-within):not(:disabled) {
    cursor: pointer;
    transform: translateY(-3px);
}

:is(.interact, button, select):active {
    padding-top: 0.5em;
    margin-top: 0.1em;
}

/* Top-Nav */

ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0.4em 0.2em;
    display: flex;
}

ul.nav-bar li {
    margin: auto 0;
}

ul.nav-bar li.push {
    margin-left: auto;
}

ul.nav-bar li>* {
    display: block;
    font-size: max(12pt, 1.6vh);
}

ul.nav-bar li :is(h1, h2, h3, h4, h5, h6) {
    font-size: max(14pt, 1.75vh);
    margin-right: 1em;
}

ul.nav-bar li :is(.interact, a, button, select) {
    padding: 0.6em 0.8em;
    border-radius: 0.4em;
    margin: 0 0.2em;
    text-decoration: none;
    border: none;
    transition-property: color, padding-bottom, border-bottom-width, background-color, transform;
    transition-duration: 0.3s;
}

ul.nav-bar li :is(.interact, a, button, select):is(:hover, :focus-within) {
    padding-bottom: calc(0.6em - 2px);
    transform: translateY(-3px);
    cursor: pointer;
}

ul.nav-bar li :is(.interact, a, button, select):has(~ ul)::after {
    display: inline;
    content: " ⯆";
    padding: 0;
    margin: 0;
}

ul.nav-bar li ul {
    position: absolute;
    z-index: 1;
    list-style-type: none;
    margin: 0;
    margin-left: 0.2em;
    padding: 0.4em 0.2em;
    display: none;
    border-radius: 0.4em;
    background-color: var(--theme_bg);
    border: 1px solid;
}

ul.nav-bar li ul li{
    min-width: 10em;
    padding: 0.2em;
}

ul.nav-bar li:is(:hover, :focus-within) ul {
    display: block;
}

/* Containers */

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
    box-sizing: border-box;
    padding: 0 1em;
}

.flex-container {
    display: flex;
    flex: auto;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 1em;
}

:is(.container, .flex-container) > * {
    display: block;
}

:is(.container, .flex-container) .card {
    border-radius: 1em;
    padding: 0.2em 1em;
    transition: background-color 0.3s;
}

.container > img {
    max-height: none;
    height: 100%;
    width: 100%;
}

.flex-container > * {
    min-height: 20px;
    max-height: 40vh;
}

.flex-container img {
    min-height: none;
    max-height: 40vh;
}

:is(.container, .flex-container) img {
    object-fit: cover;
}

img.fit-contain {
    object-fit: contain;
}