.examination-department-of-interdimensional-anomaly-and-travel {
    font-family: Courier, 'Courier New', monospace;
    font-style: oblique;
}

.examination-department-of-interdimensional-anomaly-and-travel cite {
    font-weight: bold;
}

.noise {
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
}