html, body {
  height: 100%;
  width: 100%;
  text-align: center;
}

html {
  display: table;
}

body {
  display: table-cell;
  vertical-align: middle;
}

#searchbox {
  border: 1;
}

footer {
  padding-top: 1em;
}